.autocomplete {
    max-width: max-content;
    z-index: 1000;

    .dropdown {
        margin-top: 4px;
        max-height: 200px;
        overflow-y: scroll;
        border: 1px solid lightgray;
        border-radius: 4px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    .dropdown_item {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 44px;
    }

    .dropdown_item:hover {
        background-color: lightblue;
        cursor: pointer;
    }
}